.jumbotron {
  padding-top: 6rem;
  background-color: #00808070;
}

#proyekku {
  background-color: #00808070;
}

#sertifikatku {
  background-color: #00808070;
}

section {
  padding-top: 5rem;
}

.navbar {
  background-color: #008080;
}

#kontak {
  background-color: #ffffff;
}

footer {
  background-color: #008080;
}
